<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h3>Bem-vindo ao Seu Calculador de Rota!</h3>
    </header>
    
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <h2 class="h2">Sua <strong class="strong">ROTA</strong> mais segura!</h2>
            <p style="color: #fff;">Clique no botão para calcular sua rota...</p>
            <button onclick="window.location.href='{{ url_for('endereco') }}'">></button>
        </div>
    
    <footer>© 2024 Sua Rota Segura</footer>
</body>
</html>
